body{
    background-color: lightblue;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    display:flex;
}

.sidebar{
    width:250px;
    min-height: 100vh;
    background-color: #4F46E5;
    color:white;
    padding:20px;
}

.sidebar h2{
    margin-bottom:30px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    margin-bottom:20px;
    cursor: pointer;
}